body {
  margin: 0;
  background: #000
}

* {
  font-weight: 300;
  text-shadow: 0 0 5px #fff
}

canvas {
  width: 100%;
  height: 100%;
  cursor: none;
  image-rendering: crisp-edges
}

svg {
  display: none
}

tt {
  font-size: 80px;
  font-weight: 800;
  margin: 100px 0 10px 0;
  background: -webkit-linear-gradient(#fff, #4376fd);
  text-shadow: 0 0 5px #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid grey;
  padding-bottom: 16px;
  letter-spacing: 6px
}

ts {
  font-size: 35px;
  color: grey;
  margin-bottom: 150px;
  font-weight: 400;
  text-shadow: 0 0 3px grey
}

t {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .7;
  text-align: center
}

l {
  display: block;
  line-height: 80px;
  font-size: 30px
}

h1,
w {
  font-size: 50px
}

button {
  display: block;
  margin-bottom: 60px;
  background: #000;
  border: none;
  color: #fff;
  font-size: 40px;
  transition: .3s ease-in-out;
  cursor: pointer;
  width: 100%
}

button:hover {
  font-size: 45px
}

.r {
  display: none !important
}

h {
  font-size: 20px;
  color: grey
}